main{
    background-color: #223366;
    color: white;
}
.barraSup{
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    color: white;
}
.containerBarraSup div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerMenu div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.containerPrincipal div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;    
}
.containerRodape div{
    display: grid;  
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
}
.empresa{
    grid-column: 1 ;
    text-align: center;
}
.mapaSite{
    text-align: right;
}
.endereco{
    background-color: blueviolet;
    
}
.mapaSite{
    grid-column: 2 / 3;
}
.telefone{
    font-size: 30px;
    grid-row: 3
}
.rodape3 {
    flex-direction: column;
}