main{
    background-color: #223366;
    color: white;
    padding-bottom: 5px;
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.barraSup{
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    color: white;
}
.containerBarraSup div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerMenu div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.containerMenu div a{
    text-decoration: none;
}
.menu div {
    flex-direction: column;
    text-align: center;
    justify-content: start;
    color:black;
}
.menu p{
    margin: 0;
}
.menu a :hover{
    filter: grayscale(100%);
}
.containerPrincipal{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.containerInfo{
    display: grid;
    grid-template-columns: 0.2fr 6fr 0.2fr;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.principal{
    grid-column: 2;
}
.texto{
    margin: 10px;
}
.texto p{
    text-align: justify;
    font-size: 24px;
    margin: 0 0;
}
.texto ul{
    font-size: 40px;
    margin: 20px auto;
}
.containerRodape {
    display: grid;  
    justify-content: space-between;
}
.rodape1{
    grid-column: 1;
    text-align: center;
}
.telefone{
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.rodape2{
    grid-column: 2;
    text-align: center;
}
.titulo{
    padding: 30px 40px;
}
.mapaSite h2{
    color:white;
    padding: 10px;
    margin-left: 30px;
}
.mapaSite li{
    text-align: center;
    display: inline-block;
    list-style: none;
    color: white;
}
.mapaSite :hover{
    color: darkgray;
}
.sociais{
    font-size: 20px;
    text-align: right;
    gap: 10px 20px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
}
.sociais a :hover{
    filter: drop-shadow(0px 0px 10px white);
}
.sociais p{
    grid-row: 1/3;
    padding-top: 30px;
}
.sociais img{
    border-radius: 50%;
}
.imgSociais2{
    grid-column: 2;
}
form{
    margin: auto 90px;
    font-size: 20px;
}
.contato input, select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.containerContato{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}
.textoContato{
    grid-column: 2;
    grid-row: -1/1;
    padding-right: 80px;
}
.containerTexto div{
    display: flex;
    flex-direction: column;   
}
.p1{
    padding-right: 500px;
    padding-bottom: 50px;
    text-align: justify;
}
.p2{
    padding-left: 500px;
    padding-bottom: 50px;
    text-align: justify;
}
.p3{
    padding-right: 500px;
    text-align: justify;
}
.p0{
    padding-left: 100px;
    padding-right: 400px;
}
.texto1 div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.texto1 ul{
    grid-column: 1;
    margin-left: 65px;
    list-style-type: none;
}
.containerArea{
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    
}
.containerArea div{
    width: 300px;
}
.areaLogin{
    background-color: #99A3BF;
    margin: 10px;
    border-radius: 10px;
}
.aTecnica{
    grid-column: 2;
    grid-row: 2;  
}
.aCliente form{
    padding: 10px;
}
.aTecnica form{
    padding: 10px;
}
.containerSolucao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}