main{
    background-color: #223366;
    color: white;
}
.barraSup{
 background-color: black;
 color: white;
}
footer{
    background-color: black;
    color: white;
    
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.barraSup {
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon{
    margin: 0px 30px;
    text-align: center; 
}
.logo{
    margin: 10px 10px;
    padding: 5px 5px;
}

.text{
    margin: 0% 10%;
    padding: 0 20%;
}

 li{
    text-align: right;
    display: inline-block;
    list-style: none;
}
.carrosel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.carrosel div{
    grid-column: 2;
}